:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: darkslategray;
}


h1 {
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.1;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.top-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

#puntos {
  background-color: rgb(255, 188, 188);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid darkred;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(95, 0, 0);
}

#mensaje{
  font-size: 2rem;
  font-weight: 600;
  max-width: 25ch;
  line-height: 140%;
  padding-bottom: 2rem;
}


.carta{
  height: 319px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.instrucciones {
  padding: 2rem 4rem 2rem 4rem;
  background-color: rgb(244, 249, 255);
  border: 1px solid rgb(198, 205, 211);
  border-radius: 2rem;
}

.instrucciones p, h2, h3, li  {
  max-width: 50ch;
  text-align: left;
}

.instrucciones h2{
  font-size: 1em;
  text-transform: uppercase;
}

.instrucciones h3{
  font-size: 1em;
}


button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.red-button {
  background-color: darkred;
  color: white;
}

.green-button {
  background-color: darkgreen;
  color: white;
}

.dark-button{
  background-color: rgb(16, 27, 27);
  color: white;
}
button:hover {
  border-color: coral;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled{
background-color: lightgray;
color: grey
}


